<ion-view view-title="Méteo by Bouzid">
    <ion-content padding="true">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
            <form class="list">
              <div class="list list-inset">
                <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Entrez le nom de la vill..." ng-model="city">
                </label>
                <button class="button button-full button-positive" ng-click="search(city)">
                  <span class="ion-left ion-umbrella"></span> Ma méteo Bouzid?
                </button>
              </div>
            </form>

    </ion-content>
</ion-view>
