<ion-view view-title="Méteo by Bouzid">
    <ion-content padding="true">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

            <form class="list">
                <label class="item item-input">
                    <input type="text" ng-model="city" placeholder="Entrez la ville">
                </label>
                <button class="button button-full button-positive" ng-click="search(city)">
                    <span class="ion-left ion-umbrella"></span> Ma méteo Bouzid?
                </button>
            </form>

    </ion-content>
</ion-view>
