<ion-view view-title="A propos de moi">
    <ion-content padding="true">
     <!--<h1>A propos de moi</h1>
        <p>La première application Bouzid météo, un passionné de la météo vous offre c'est services,</p>
         <p> Application developper by Mc Mourad</p>

      <h1>About me</h1>
      <p>The first application Bouzid weather, an avid weather offers you it's services,</p>
      <p>Develop by Mc Mourad</p>-->

      <div class="list card">

          <div class="item item-thumbnail-left">
              <img src="img/bouzid2.jpg">
              <h2>SIDI-Aïch</h2>
              <p>Météo</p>
              <a href="http://bouzidmeteo.alwaysdata.net/#/" class="button button-outline icon-right ion-navicon button-balanced">voir la météo des autres villes </a>
          </div>


        <div class="item item-text-wrap">
          <h1><u>A propos de moi</u></h1>
          <h2>La première application de météo, qui vous permez de chercher  la météo de la semaine de la ville.</h2>
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-usb"></i>
          Develop by Mc Mourad
        </a>

      </div>
    </ion-content>
</ion-view>
